
<br>
<h4>Agregar producto</h4><br>
<label>titulo: </label><input id="inputTitle" name="title" type="text"><br />
<label>descripcion:</label><input id="inputDescription" name="description" type="text"><br />
<label>presio: $</label><input id="inputPrice" name="price" type="text"><br />
<label>thumbnail: </label><input id="inputThumbnail" name="thumbnail" type="text"><br />
<label>codigo: </label><input id="inputCode" name="code" type="text"><br />
<label>categoria: </label><input id="inputCategory" name="category" type="text"><br />
<label>stock: </label><input id="inputStock" name="stock" type="text"><br />
<label>status: </label><input id="inputStatus" name="status" type="text"><br />

<button type="button" class="btn btn-success" id="btnEnviar">enviar</button>
<hr>
<br>
<h4>Eliminar producto</h4><br>
<label>id del producto a eliminar:</label><input id="inputId" name="id" type="text"><br />
<p id="error"></p>
<button type="button" class="btn btn-danger" id="btnBorrar">Borrar</button><br /><br />
<hr>
<br>
<h4>Modificar producto</h4><br>
<label >id del producto a modificar: </label><input type="text" name="idModificar" id="inputModificaId"><br><br>
<select name="select" id="select">
  <option value="title" selected>Titulo</option>
  <option value="description">Descripcion</option>
  <option value="price">precio</option>
  <option value="thumbnail">thumbnail</option>
  <option value="category">categoria</option>
  <option value="stock">stock</option>
  <option value="stock">status</option>
</select>
<label >valor a cambiar: </label><input type="text" name="modificar" id="inputModificar"><br>
<br><button type="submit" class="btn btn-success" id="btnModificar">Modificar</button>
<hr>

<h3>Lista de Productos</h3>

<div id="productos"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>